.App {
  text-align: center;
}

.main-bener {
  height: 300px;
  background-size: cover;
  background-image: url(/public/mainbener.jpg);
  background-position: center;
}

.itemlist {
  display: flex;
  list-style: none;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.itemlist li {
  flex: 1;
  padding: 10px;
  margin: 10px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemlist li img {
  width: 100%;
}

.item-detail {
  display: flex;
  flex-direction: column;
}

.item-detail container {
  display: flex;
}

.item-detail .item-picture {
  flex: 1;
}
.item-detail .item-picture img {
  width: 100%;
}

.item-detail .item-info {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex: 1;
}

.item-detail .item-info .options {
  display: flex;
  flex-direction: column;
}
